In [2]:
import pandas as pd
import numpy as np

In [3]:
#The data itself 

data=data = {
    'age': [39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 45, 40, 29, 34, 55],
    'workclass': ['State-gov', 'Self-emp-not-inc', 'Private', 'Private', 'Private', 
                  'Private', 'Private', 'Self-emp-not-inc', 'Private', 'State-gov',
                  'Private', 'Private', 'Private', 'Federal-gov', 'Private'],
    'fnlwgt': [77516, 83311, 215646, 234721, 338409, 284582, 160187, 209642, 
               45781, 159449, 376789, 237993, 112847, 231839, 148995],
    'education': ['Bachelors', 'Bachelors', 'HS-grad', '11th', 'Bachelors',
                  'Masters', '9th', 'HS-grad', 'Masters', 'Bachelors',
                  'Doctorate', 'HS-grad', 'Bachelors', 'Masters', 'Doctorate'],
    'education-num': [13, 13, 9, 7, 13, 14, 5, 9, 14, 13, 16, 9, 13, 14, 16],
    'race': ['White', 'White', 'White', 'Black', 'White', 
             'Asian-Pac-Islander', 'Black', 'White', 'White', 'White',
             'White', 'Black', 'White', 'White', 'Asian-Pac-Islander'],
    'sex': ['Male', 'Male', 'Male', 'Male', 'Female', 
            'Female', 'Male', 'Male', 'Female', 'Male',
            'Male', 'Female', 'Male', 'Male', 'Female'],
    'hours-per-week': [40, 13, 40, 40, 40, 50, 40, 45, 50, 40, 60, 35, 40, 45, 50],
    'native-country': ['United-States', 'United-States', 'United-States', 'United-States', 'Cuba',
                       'India', 'Jamaica', 'United-States', 'United-States', 'United-States',
                       'United-States', 'Mexico', 'United-States', 'India', 'China'],
    'salary': ['<=50K', '<=50K', '<=50K', '<=50K', '<=50K',
               '>50K', '<=50K', '>50K', '>50K', '<=50K',
               '>50K', '<=50K', '<=50K', '>50K', '>50K'],
    'occupation': ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Handlers-cleaners',
                   'Prof-specialty', 'Exec-managerial', 'Other-service', 'Exec-managerial',
                   'Prof-specialty', 'Adm-clerical', 'Prof-specialty', 'Other-service',
                   'Sales', 'Exec-managerial', 'Prof-specialty']
}

In [4]:
df=pd.DataFrame(data)
print(df)

    age         workclass  fnlwgt  education  education-num  \
0    39         State-gov   77516  Bachelors             13
1    50  Self-emp-not-inc   83311  Bachelors             13
2    38           Private  215646    HS-grad              9
3    53           Private  234721       11th              7
4    28           Private  338409  Bachelors             13
5    37           Private  284582    Masters             14
6    49           Private  160187        9th              5
7    52  Self-emp-not-inc  209642    HS-grad              9
8    31           Private   45781    Masters             14
9    42         State-gov  159449  Bachelors             13
10   45           Private  376789  Doctorate             16
11   40           Private  237993    HS-grad              9
12   29           Private  112847  Bachelors             13
13   34       Federal-gov  231839    Masters             14
14   55           Private  148995  Doctorate             16

                  race     sex  hours-per-week native-country salary  \
0                White    Male              40  United-States  <=50K
1                White    Male              13  United-States  <=50K
2                White    Male              40  United-States  <=50K
3                Black    Male              40  United-States  <=50K
4                White  Female              40           Cuba  <=50K
5   Asian-Pac-Islander  Female              50          India   >50K
6                Black    Male              40        Jamaica  <=50K
7                White    Male              45  United-States   >50K
8                White  Female              50  United-States   >50K
9                White    Male              40  United-States  <=50K
10               White    Male              60  United-States   >50K
11               Black  Female              35         Mexico  <=50K
12               White    Male              40  United-States  <=50K
13               White    Male              45          India   >50K
14  Asian-Pac-Islander  Female              50          China   >50K

           occupation
0        Adm-clerical
1     Exec-managerial
2   Handlers-cleaners
3   Handlers-cleaners
4      Prof-specialty
5     Exec-managerial
6       Other-service
7     Exec-managerial
8      Prof-specialty
9        Adm-clerical
10     Prof-specialty
11      Other-service
12              Sales
13    Exec-managerial
14     Prof-specialty

In [5]:
#1. How may people of each race are represented in this dataset?
race_count = df['race'].value_counts()
print(race_count)

race
White                 10
Black                  3
Asian-Pac-Islander     2
Name: count, dtype: int64

In [8]:
#2. What is the average of men?
average_age_men=df[df["sex"]=="Male"]["age"].mean()
print(average_age_men)

43.1

In [9]:
#3. What is the percentage of people who have a Bachelor's degree?
percentage_bachelors=(df["education"]=="Bachelors").sum()/len(df)*100
print(percentage_bachelors)

33.33333333333333

In [13]:
#4. What percentage of people with advanced education make more that 50k?
adv_rich_pct = round((df[df['education'].isin(['Bachelors','Masters','Doctorate'])]['salary'] == '>50K').mean() * 100, 1)
print(adv_rich_pct)

50.0

In [14]:
#5. What percentage of people without advanced education make more that 50k?
no_adv_rich_pct = round((df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]['salary'] == '>50K').mean() * 100, 1)
print(no_adv_rich_pct)

20.0

In [10]:
#6. What is the minimum number of hours a person works per week?
min_hours_work=df["hours-per-week"].min()
print(min_hours_work)

13

In [16]:
#7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

#find people who work min hours
min_workers = df[df["hours-per-week"] == min_hours_work]
#creates data frame of people who work min working hours

#calculating percentage of min workers earning >50k
rich_percentage = (min_workers["salary"] == ">50K").sum() / len(min_workers) * 100

print(min_workers)
print(rich_percentage)

   age         workclass  fnlwgt  education  education-num   race   sex  \
1   50  Self-emp-not-inc   83311  Bachelors             13  White  Male

   hours-per-week native-country salary       occupation
1              13  United-States  <=50K  Exec-managerial
0.0

In [11]:
#8. What country has the highest percentage of people that earn >50K and what is that percentage?

#calculating percentage for each country
country_stats = {}
for country in df['native-country'].unique():
    #getting all people from this country
    country_df = df[df['native-country'] == country]
    
    #counting high earners
    high_earners = (country_df['salary'] == '>50K').sum()
    
    #calculating percentage
    percentage = round(high_earners / len(country_df) * 100, 1)
    
    #storing result
    country_stats[country] = percentage

#finding country with highest percentage
highest_earning_country = max(country_stats, key=country_stats.get)
highest_earning_country_percentage = country_stats[highest_earning_country]
print(highest_earning_country_percentage)

100.0

In [9]:
#9. Identify the most popular occupation for those who earn >50K in India.
india_high_earners = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
if len(india_high_earners) > 0:
    top_IN_occupation = india_high_earners['occupation'].value_counts().index[0]
else:
    top_IN_occupation = "No high earners in India"
    
print(top_IN_occupation)

9. Most popular occupation for high earners in India: Exec-managerial
Exec-managerial